.container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#jag {
    border-radius: 10%;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 5px;
    margin-bottom: 2%;
}

button {
    width: 200px;
    height: 50px;
    margin: 10px;
}

.container-omMig-hidden, .container-CV-hidden {
    display: none;
}

.container-omMig, .container-CV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
